body
{
	background-color: #ECE1DF;
}
.button
{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	
	/*button properties*/
	font-size: 3em;
    text-decoration: none;
    background-color: white;
    color: black; /*font color*/
	margin: 4px 3px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.one
{
    border: 2px solid green;
}
.two
{
	border: 2px solid red;
}